//定义公共样式
[v-cloak]
{
    display: none;
}

*
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: $fontYahei;
    font-weight: lighter;

    width: 100%;
    min-height: 99%;

    letter-spacing: .05em;

    color: $black2;
    background-color: #f6f6f6;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.scrollbar
{
    &::-webkit-scrollbar
    {
        width: 8px;
        height: 16px;

        background-color: #f5f5f5;
    }
    &::-webkit-scrollbar-track
    {
        background-color: transparent;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    }
    &::-webkit-scrollbar-thumb
    {
        transition: $material-enter;

        border-radius: 2px;
        background-color: #7f7f7f;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    }
    &::-webkit-scrollbar-thumb:hover
    {
        background-color: #8f8f8f;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    }
}

html,
body
{
    overflow: hidden !important;
}

a
{
    text-decoration: none;

    color: rgba(0, 0, 0, .7);
}

a:hover
{
    text-decoration: none;

    color: $red;
}

ul,
ol,
li
{
    list-style: none;
}

button
{
    font-size: 16px;

    position: relative;

    display: inline-flex;

    padding: 6px 12px;

    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    transition: $material-enter;
    text-align: center;
    white-space: nowrap;
    letter-spacing: 1px;

    color: white;
    border-color: transparent;
    border-radius: 4px;
    outline: none;
    &:disabled
    {
        cursor: not-allowed;

        background-color: #9f9f9f;
    }
    span
    {
        margin-left: 4px;

        cursor: inherit;

        flex: 1;
    }
    img
    {
        position: relative;

        flex: 1;
    }
    > i
    {
        position: relative;
        top: 4px;

        flex: 1;
    }
    &.red,
    &.indigo,
    &.green-vue,
    &.blue,
    &.orange
    {
        -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .2), 0 1px 1px rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12);
           -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .2), 0 1px 1px rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12);
                box-shadow: 0 1px 3px rgba(0, 0, 0, .2), 0 1px 1px rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12);
    }
    &.red
    {
        background-color: $red;
        &:hover
        {
            background-color: $red600;
        }
    }
    &.indigo
    {
        background-color: $indigo;
        &:hover
        {
            background-color: $indigo600;
        }
    }
    &.green-vue
    {
        background-color: $greenVue;
        &:hover
        {
            background-color: $greenVue600;
        }
    }
    &.blue
    {
        background-color: $lightBlue;
        &:hover
        {
            background-color: $lightBlue600;
        }
    }
    &.orange
    {
        background-color: #ff5722;
        &:hover
        {
            background-color: #e64a19;
        }
    }
}

table
{
    font-size: 16px;

    width: 100%;

    border-spacing: 0;
    border-collapse: collapse;

    background-color: white;
}

caption
{
    font-size: 20px;
}

th
{
    font-weight: lighter;

    padding: 8px 0;

    border-top: 1px solid #ececec;
}

th:first-child
{
    padding-left: 24px;
}

tr
{
    transition: all .3s cubic-bezier(.2, .1, .6, 1);

    border-bottom: 1px solid #ececec;
}

td
{
    height: 32px;
    padding: 3px 0;

    white-space: nowrap;
    text-overflow: ellipsis;
}

td:first-child
{
    padding-left: 16px;
}

#GDMS
{
    font-family: $fontYahei;
    font-weight: lighter;

    overflow: hidden;

    text-align: center;

    color: $black2;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

::selection
{
    color: $white;
    background: $red;
}

::-moz-selection
{
    color: $white;
    background: $red;
}

::-webkit-selection
{
    color: $white;
    background: $red;
}

.mu-item.show-right
{
    padding-right: 48px !important;
}

.mu-item.show-left
{
    padding-left: 48px !important;
}

.mu-dialog-wrapper
{
    max-width: 320px !important;
}

.no-selection
{
    -webkit-user-select:      none;
       -moz-user-select: -moz-none;
        -ms-user-select:      none;
            user-select:      none;

    -khtml-user-select: none;
}

.card
{
    transition: $material-enter;

    border-radius: 3px;
    -webkit-box-shadow: $material-shadow-1dp;
       -moz-box-shadow: $material-shadow-1dp;
            box-shadow: $material-shadow-1dp;
}

.paper
{
    transition: $material-enter;

    border-radius: 3px;
    background-color: white;
    -webkit-box-shadow: $material-shadow-2dp;
       -moz-box-shadow: $material-shadow-2dp;
            box-shadow: $material-shadow-2dp;
}

.shadow
{
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .2), 0 1px 1px rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12);
       -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .2), 0 1px 1px rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12);
            box-shadow: 0 1px 3px rgba(0, 0, 0, .2), 0 1px 1px rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12);
}

.columns
{
    width: 98%;
    max-width: 1280px;
    margin: 8px auto;

    background: #f6f6f6;

            column-width: 320px;
       -moz-column-width: 320px;
    /* Firefox */
    -webkit-column-width: 320px;
    column-gap: 10px;
}

@media screen and (max-width: 993px)
{
    #columns
    {
        column-gap: 0;
    }
    #columns figure
    {
        width: 100%;
    }
}

.console-panel .logo
{
    background-color: #747474;
}

.logo
{
    position: relative;

    width: 188px;
    height: 64px;

    cursor: pointer;
    img
    {
        position: absolute;
        left: 16px;

        display: inline;

        max-width: 64px;
    }
    p.jnudm
    {
        font-family: $fontCenturyGothic;
        font-size: 24px;
        font-weight: lighter;
        font-variant: small-caps;

        position: absolute;
        top: 22px;
        left: 84px;

        color: white;
    }
}

.main-container
{
    overflow: auto;

    height: 100%;

    transition: $material-enter;
    .sidebar-drawer
    {
        max-width: $sidebar-size;
        .menu-border
        {
            border-bottom: 1px solid #dedede;
        }
        .mu-item-left
        {
            left: 32px;
        }
    }
    .main-content
    {
        height: calc(100vh - 82px);
        margin: 64px 0 18px 188px;
        padding: 8px 8px 16px 12px;

        transition: $material-enter;
        text-align: left;

        background-color: #f6f6f6;
        &.nav-hide
        {
            margin-left: 0;
        }
    }
}

@media (max-width: 993px)
{
    .main-content
    {
        margin-left: 0 !important;
    }
}

//主内容区过渡动画
.main-transition-enter-active
{
    transition: all .1s cubic-bezier(0, .87, .21, 1.1);
    transition-delay: .1s !important;
    //元素进来时给大于等于离开动画的延迟
    //就能避免两个元素同时在画内
}

//page进来的时候将其向上移动80px opacity设置为0
//因为元素的opacity本来为1 所以会渐变化成1
.main-transition-enter
{
    transform: translateY(-70px); //这个是执行函数

    opacity: 0; //而这个是直接设置
}

.main-transition-leave-active
{
    transform: translateY(70px);

    opacity: 0;
}

.tab-tran-enter-active
{
    transition: all .3s cubic-bezier(0, .87, .21, 1.1);
}

.tab-tran-enter
{
    transform: translate3D(70px, 0, 0); //这个是执行函数

    opacity: 0; //而这个是直接设置
}

.tab-tran-leave-active
{
    transform: translate3D(-70px, 0, 0);

    opacity: 0;
}

.chip
{
    font-size: 14px;

    position: relative;

    display: inline-flex;

    width: auto;
    height: 28px;
    margin: 6px;
    padding: 2px 12px;

    transition: $material-enter;

    border: 1px #d6d6d7 solid;
    border-radius: 16px;
    background-color: #fff;
    &:hover
    {
        -webkit-box-shadow: $material-shadow-1dp;
           -moz-box-shadow: $material-shadow-1dp;
                box-shadow: $material-shadow-1dp;
    }
    .mu-icon
    {
        position: relative;
        top: 5px;
    }
    img
    {
        position: relative;
        bottom: 2px;

        width: 18px;
    }
}
