//定义公共样式

[v-cloak]
{
    display: none;
}

*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    font-family: $fontYahei;
    font-weight: lighter;

    height: 100%;

    letter-spacing: .05em;

    color: $black2;
}

a
{
    text-decoration: none;

    color: #fff;
}

a:hover
{
    text-decoration: none;
}

ul,
ol,
li
{
    list-style: none;
}

#GDMS
{
    font-family: $fontYahei;
    font-weight: lighter;

    height: 100%;

    text-align: center;

    color: $black2;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
::selection
{
    color: $white;
    background: $selectionColor;
}

::-moz-selection
{
    color: $white;
    background: $selectionColor;
}

::-webkit-selection
{
    color: $white;
    background: $selectionColor;
}

.md-tooltip
{
    font-weight: lighter;
}

.container
{
    height: 100%;

    transition: $swift-ease-out;
    .sidebar-drawer
    {
        max-width: $sidebar-size;

        -webkit-user-select:      none;
           -moz-user-select: -moz-none;
            -ms-user-select:      none;
                user-select:      none;

        -khtml-user-select: none;
        .console-panel
        {
            background: #fff;
            .logo
            {
                position: relative;

                height: 64px;

                background-color: #474a4f;
                @media (max-width: 1280px)
                {
                    height: 56px;
                }
                img
                {
                    position: absolute;
                    left: 16px;

                    display: inline;

                    max-width: 64px;;
                    @media (max-width: 1280px)
                    {
                        max-width: 56px;
                    }
                }
                p.jnudm
                {
                    font-family: $fontCenturyGothic;
                    font-size: 24px;
                    font-weight: lighter;

                    position: absolute;
                    top: 18px;
                    right: 27px;

                    color: #fff;
                    @media (max-width: 1280px)
                    {
                        top: 22px;
                    right: 20px;

                    }
                }
            }
            .mu-menu-item-wrapper.hover
            {
                .mu-menu-item-left-icon
                {
                    left: 16px;
                }
            }
            .mu-menu-item
            {
                padding-left: 72px;
                .mu-menu-item-left-icon
                {
                    left: 40px;

                    transition: $material-enter;
                }
            }
            .mu-menu-item-title
            {
                font-size: 16px;
                font-weight: lighter;
            }
        }
    }
    .main-content
    {
        height: 100%;
        padding: 80px 16px 28px 200px;

        transition: $material-enter;
        text-align: left;

        background-color: #f6f6f6;
        &.nav-hide
        {
            padding-left: 16px;
        }
    }
}

@media (max-width: 1280px)
{
    .mu-menu-list
    {
        padding: 4px 0;
    }
    > .mu-icon
    {
        margin-top: 8px;
    }
    img
    {
        max-width: 56px;
    }
    .logo
    {
        height: 56px;
    }
}
@media (max-width: 993px)
{
    .nav-bar
    {
        left: 0 !important;
    }
    .main-content
    {
        padding-left: 16px !important;
    }
}

//主内容区过渡动画
.main-transition-enter-active
{
    transition: $material-leave;
    transition-delay: .3s !important; //不知道为什么失效了
    //元素进来时给大于等于离开动画的延迟
    //就能避免两个元素同时在画内
}

//page进来的时候将其向上移动80px opacity设置为0
//因为元素的opacity本来为1 所以会渐变化成1
.main-transition-enter
{
    transform: translateY(40px); //这个是执行函数

    opacity: 0; //而这个是直接设置
}

.main-transition-leave-active
{
    transform: translateY(40px);

    opacity: 0;
}

//如果要实现当前page切出时过渡？？？上面的leave-active设置无效？？？
//还没有内容时的提示卡片样式
.empty-card-title
{
    font-size: 24px;

    position: relative;

    overflow: hidden;

    height: 48px;
    padding: 16px;

    transition: $swift-ease-out;
    text-align: center;

    color: #fff;
    border-radius: 2px;
    background-color: #f44336;
    -webkit-box-shadow: $material-shadow-1dp;
       -moz-box-shadow: $material-shadow-1dp;
            box-shadow: $material-shadow-1dp;
    .intrgging
    {
        position: absolute;
        bottom: 24px;
        left: 40%;

        display: none;
    }
    &:hover
    {
        cursor: pointer;

        background-color: rgba(244, 67, 54, .8);
    }
    &.hide
    {
        height: 720px;

        color: #000;
        background-color: #fff;
        .intrgging
        {
            display: inline-block;
        }
    }
}
