

.wyvonj-tooltip
{
    font-size: 16px;
    font-weight: lighter;
    line-height: 20px;

    position: fixed;
    z-index: 2000;

    min-width: 64px;
    height: auto;
    padding: 0 8px;

    transition: all .3s cubic-bezier(0, 0, .2, 1);
    transition-delay: 0s;
    transform-origin: center top;
    white-space: normal;
    text-transform: none;
    pointer-events: none;

    opacity: 0;
    border-radius: 2px;
    background-color: white;
    &.wyvonj-active
    {
        transition: all .3s cubic-bezier(0, 0, .2, 1);
        transition-duration: .3s;

        opacity: 1;
    }
    &:not(.wyvonj-active)
    {
        transition-delay: 0s !important;
    }
    &.wyvonj-transition-off
    {
        transition: none !important;
    }
    &.wyvonj-tooltip-top
    {
        margin-top: -14px;

        transform: translate(-50%, 8px);
        &.wyvonj-active
        {
            transform: translate(-50%, 0);
        }
    }
    &.wyvonj-tooltip-right
    {
        margin-left: 14px;

        transform: translate(-8px, 50%);
        &.wyvonj-active
        {
            transform: translate(0, 50%);
        }
    }
    &.wyvonj-tooltip-bottom
    {
        margin-top: 14px;

        transform: translate(-50%, -8px);
        &.wyvonj-active
        {
            transform: translate(-50%, 0);
        }
    }
    &.wyvonj-tooltip-left
    {
        margin-left: -14px;

        transform: translate(8px, 50%);
        &.wyvonj-active
        {
            transform: translate(0, 50%);
        }
    }
}
